[2015-09-17 15:48] thomasmattheussen opened #2 "path of json file"
Hi,

Great work so far, this will definitely come in handy!

I was just wondering how to reference the json file in my .scss? To what does a relative path point to, and from where?

I think something is wrong with this line:

[code]

Because when I log ```prev``` I get ```"stdin"``` (which makes it search files in a non-existent stdi/ folder)

Also, I was just thinking that it might be useful to a

[2015-09-17 18:04] pmowrer commented on #2
Thanks for the feedback @thomasmattheussen!

I would imagine that the json file should be referenced relative to the file that's importing it. That's really the only case I've tried. If you have other use cases, please let me know and I'll look into it. You're right in that it should probably look at `includePaths` as well.

[2015-09-18 07:24] thomasmattheussen commented on #2
Hmm, I probably wasn't very clear: I mean that from what I see, it's NOT relative to the file that's importing it... It's not that I have another use case, it's just not working as expected.

The ```prev``` parameter that the importer function receives seems to be ```"stdin"``` in my case, and the library uses that to find the path of the json file...

Sidenote: I'm using gulp-sass in through Lara

[2015-09-21 01:23] pmowrer commented on #2
I just published `1.0.1` which should take `includePaths` into account. Please let me know if that resolves the issue.

[2015-09-22 01:29] SpenceDiNicolantonio commented on #2
@pmowrer I just tried version 1.01. You're expecting the `includePaths` option to be an array, when the entries in `includePaths` actually get concatenated into a `:`-delimited string.

Where you have:
[code]
I think you want something more like:
[code]
That got things working for me.

[2015-09-22 16:16] pmowrer commented on #2
Assuming this can be closed with the merging of #4. Thanks again @SpenceDiNicolantonio

[2015-09-22 16:16] #2 closed

[2015-11-02 15:30] safareli opened #7 "can't import hsl colors properly"
because it contains `,` it is wrapped in  quotes and then if you use it with `fade-out` for example would get error:
[code]
https://github.com/Updater/node-sass-json-importer/blob/v1.0.3/src/index.js#L41

[2015-11-02 15:47] safareli commented on #7
i think we should first match if contains parentheses `.match(/[()]/)` and then for comma and whitespace

[2015-11-02 15:48] safareli commented on #7
or update the line to this
[code]

[2015-11-03 15:20] pmowrer commented on #7
@safareli What does the JSON look like?

[2015-11-03 15:35] safareli commented on #7
{
  white: "hsl(0,0%,100%)"
}

[2015-11-03 16:33] safareli commented on #7
If solution is ok I can create PR

[2015-11-05 12:35] safareli commented on #7
some edge cases:

in: `{ "namedColor" : "gold" }`
out: `$namedColor: "gold";`
User of this library may thought to use it as color but it is compiled to string so she can't.

---

in:  `{ "containingQuotes" : "\"qu'ote"}`
out: `$containingQuotes: "qu'ote;`
Desired output will be to wrap in quotes.

---

in: `{ "escapedChar" : "\\26"}`
out: `$escapedChar: \26;`
It's desired behaviour

---

in: `{ "e

[2015-11-05 12:35] #7 closed

[2015-11-05 12:48] safareli commented on #7
I think we should just apply  PR #5 and it will solve this issue. also I have [commented](https://github.com/Updater/node-sass-json-importer/pull/5#issuecomment-154049414) solution that issue

[2015-11-22 19:44] robwierzbowski opened #12 "Can't use JSON keys with periods"
My JSON file has keys with periods in them: `fontname.extension`. When I import using NSJI I get:

[code]

I read up a bit on the other issues with string quoting, and realize it's not so easy. Do you think this is solvable?

[2015-11-25 04:52] pmowrer commented on #12
Is `$charter-bt-italic.woff`[a valid SASS variable name](http://stackoverflow.com/a/17194994/89594)? Maybe, but I think the period needs to be escaped. Try naming the key `$charter-bt-italic\.woff`.

[2015-12-02 16:12] safareli opened #14 "import anything which can be required from node"
What if we import any file which could be required? For example if user of this lib has registered `xml`, `yaml`, `ini` or some other extension handler in `require.extensions` then just import it and don't stick to only json extension.

If so user could import js and json files or if he/she registers any other extension, user would be able to import it as well. For example [better-require](https:/

[2015-12-02 16:13] safareli commented on #14
if that's ok name of this repo will be irrelevant because this will not only import json but anything that's requirable.

[2015-12-03 21:07] pmowrer commented on #14
Sorry to say, but that's outside the scope of this repo. This repo is more [require-json](https://github.com/olalonde/require-json) to a [better-require](https://www.npmjs.com/package/better-require) (which I guess doesn't exist for `node-sass` importers).

[2015-12-03 21:07] #14 closed

[2015-12-09 15:32] trotzig opened #15 "Slow incremental webpack build times"
I understand that this might not be the right place to report this issue, but I thought I'd post it here first to see if anyone else has more context.

We have a fairly large React app where we use webpack to compile our application.js bundle. Stylesheets are resolved using sass-loader, and components import their own stylesheets, like this:

[code]

To share configuration between the components a

[2015-12-09 16:07] pmowrer commented on #12
@robwierzbowski Any luck? Closing until further updates.

[2015-12-09 16:07] #12 closed

[2015-12-09 16:22] pmowrer commented on #15
That's bizarre, @trotzig. Haven't experienced any performance issues ourselves. Please let us know if you discover anything that might help us identify the problem.

[2015-12-09 16:43] robwierzbowski commented on #12
I abandoned this route and went with a custom node sass function. Thanks
for closing.

On Wednesday, December 9, 2015, Patrick Mowrer <notifications@github.com>
wrote:

--
Rob Wierzbowski
@robwierzbowski <http://twitter.com/#!/robwierzbowski>
http://github.com/robwierzbowski
http://robwierzbowski.com

[2015-12-10 10:30] trotzig commented on #15
Will do, thought there's a chance I won't have time to look at this any time soon.

[2015-12-23 17:29] rob-bar opened #17 "importer does not import any of the files"
I have a very strange issue, when using your importer.
I use it within the gulp-sass task runner.
in this repo https://github.com/Crosscheck/Jacket
on my install the importer works fine, and on an install of my colleague the importer does not import a single file, do you have any ideas what this could be?
Is this related to the feature of node-sass being experimental?
Is there any way I can test t

[2015-12-24 10:25] rob-bar commented on #17
Ok, maybe the issue is double quotes or single quotes, another colleague of mine said to look in that direction.

[2015-12-24 10:25] rob-bar commented on #17
Does your importer require singel quote ussage?

[2016-01-05 03:14] pmowrer commented on #17
Can you provide an example of how the importer is applied/configured?

[2016-01-06 09:46] rob-bar commented on #17
Hey Patrick,

You can find the project / implementation here,
https://github.com/Crosscheck/Jacket
The gulpfile with the config here:
https://github.com/Crosscheck/Jacket/blob/master/gulpfile.js
and the specific json import here:
https://github.com/Crosscheck/Jacket/blob/master/src/scss/utils/variables/_neat.scss

On that topic, another colleague of me said that it had to do something with single

[2016-01-06 15:31] pmowrer commented on #17
Thanks, and is there an error message or anything to show how it isn't working?

[2016-01-08 00:35] rayshan opened #18 "Allow importing from JavaScript files"
Hello,

It'll be nice if we can import from JavaScript files, this way we can share calculated values. We can do the calculation in Sass and JavaScript but then we're duplicating logic. For example:

[code]

[2016-01-08 15:28] rob-bar commented on #17
There is no error, my css files are just empty.

[2016-01-11 00:25] pmowrer commented on #18
Hi @rayshan! Sounds like a good idea, but this repository is specifically about importing JSON. Not sure if there's another importer out there that imports JavaScript (or more specifically, CommonJS in your case).

[2016-01-11 00:25] #18 closed

[2016-01-11 00:26] pmowrer commented on #15
Closing until we know of a way to reproduce.

[2016-01-11 00:56] pmowrer commented on #17
What is the expectation? Output from https://github.com/Crosscheck/Jacket/blob/master/src/scss/utils/variables/_neat.scss? It looks like it only has variables, no actual CSS.

Sorry @rob-bar, but I can't help unless you can provide a more detailed description of the problem and how to reproduce (e.g. step-by-step instructions to demonstrate the problem).

[2016-01-11 00:56] #17 closed

[2016-01-11 07:49] rob-bar commented on #17
Ok, so what you need to do is clone 'Jacket' the repo,
1) `git clone git@github.com:Crosscheck/Jacket.git`
1a) you should have nodejs installed. If not you can download it on their homepage. v4.2.x is fine
2) then you should run `npm install -g gulp`, this installs the gulp CLI tool globally
3) You should also install the scss_lint gem by `gem install scss_lint`
4) run `npm install` in the root of

[2016-01-11 07:51] rob-bar commented on #17
My goal is to make all the breakpoints in a single json file (breakpoints.json) and then use that file in scss and js. So the configuration of that file is in one place. That is the main goal here.

[2016-01-11 13:45] rob-bar commented on #17
I found the issue, it was the version of node, thank you

[2016-01-11 16:47] pmowrer commented on #17
Glad to hear it was resolved!

[2016-01-11 18:36] trotzig commented on #15
@pmowrer I'm sorry I couldn't provide more information about this.

[2016-02-08 22:43] akikoo opened #19 "JSON import not working"
Hi,

Thanks for your good work - I'd really like to use this importer for shared config for Sass and JS but I'm having trouble setting it up. Basically I can't figure out how to make this work with node-sass CLI `--importer`. I'm running on `node v5.5.0`, `node-sass v3.4.2` and `node-sass-json-importer v1.0.5`.

I'm compiling Sass like so: `./node_modules/.bin/node-sass --importer ./src/shared/sty

[2016-02-09 17:50] pmowrer commented on #19
I haven't tried using the cli before, but trying to compile one of the test files in this repo:

[code]
[code]

Looks like you're mixing cli and api usage?

Try pointing `--importer` at `node_modules/node-sass-json-importer/dist/node-sass-json-importer.js`.

[2016-02-09 22:08] akikoo commented on #19
Well that was an easy fix, it works fine now :) I was making this more difficult than it was. Thanks a lot!

Maybe it's a good idea to add an example of CLI usage? I've opened a pull request for that: https://github.com/Updater/node-sass-json-importer/pull/20

Thanks again!

[2016-02-10 04:17] pmowrer commented on #19
Glad it was easy!

[2016-02-10 04:17] #19 closed

[2016-02-22 18:56] LPGhatguy opened #21 "Importer caches files"
This is only a problem when working with continuous rebuild systems like Gulp and Grunt.

node-sass-json-importer uses `require` to load JSON files, which caches results. The plugin should either:

1. Not use require to load JSON (ideal)
2. Clear the require cache entry for the JSON file on every load

[2016-02-24 17:29] #21 closed

[2016-02-28 09:54] chrislopresto commented on #17
@rob-bar I'm experiencing the same issue on recent master versions of node-sass. Would you mind sharing details as to what caused and solved your problems?

Thanks!

[2016-02-28 11:51] rob-bar commented on #17
The problem was the node version, when we upgraded to node 5.x.x the problem was solved.
Let me know if you have any other trouble or when you succeed. :)

[2016-02-28 18:35] chrislopresto commented on #17
Thanks, @rob-bar. I was using node 5.6.0 already, so that wasn't it for me.

I did track down an explanation for my problem.. details here: https://github.com/Updater/node-sass-json-importer/pull/24

[2016-02-29 08:34] rob-bar commented on #17
Nice! Thx for the update

[2016-04-21 17:04] lefoy opened #27 "Can't import JSON file with empty string value"
I'm trying to include this JSON file in my Sass but it doesn't work when one value is an empty string.

[code]

This is the output:

[code]

My JSON file is valid so I think I should be able to import this file without errors. Any idea?

Thanks!

[2016-04-22 15:15] pmowrer commented on #27
Hi @lefoy! Try wrapping the strings in single quotes, e.g.:

[code]

[2016-05-14 16:35] bpaugam opened #28 "I can't get it to work with Grunt"
I'm trying to use `node-sass-json-importer` in my project along Grunt (`grunt-sass`), but can't achieve it. Here is what I'm doing:

[code]
[code]

Problem is: no error is fired but `main.min.css` remains hopelessly empty.

[2016-05-14 20:07] bpaugam commented on #28
Actually, rolling back to version 1.0.4 fixed the other regular @imports (which was why output file was empty).

I guess this is an issue with 1.0.5.

Local versions of node modules are:
- grunt-sass#1.2.0
- node-sass#3.7.0

[2016-05-17 16:51] #27 closed

[2016-05-17 17:08] pmowrer commented on #28
Hi @bpaugam! I just bumped this library to version 2.0.0. Try it an see if it works for you. It removes the library's dependency on `node-sass` (only used for retrieving `sass.NULL`) which caused issues when using other libraries defining their own `node-sass` dependencies. Not sure if that's what you're running into, but there's a chance. Keep me posted.

See the following issue for more details:

[2016-05-18 14:37] bpaugam commented on #28
Hi pmowrer! Indeed, bumping it to 2.0.0 fixed the problem.

Thanks for the heads up, and keep up the good work!

[2016-05-18 14:37] #28 closed

[2016-06-06 12:59] igloosi opened #30 "Compiled css file empty"
node version 5.11.1, result: empty theme.css file
gulpfile:
`var  jsonImporter = require('node-sass-json-importer');`
[code]
theme.scss
`@import "colours.json";`

colours.json in the same directory
[code]

[2016-06-08 21:54] pmowrer commented on #30
What does `theme.css` look like? If `theme.css` only contains the import statement then a blank output is expected. You have to use the imported variables to create styles

[2016-06-16 12:09] andreasgruenh opened #32 "2.1.0 broke webpack build"
Hey guys,

since the latest version, I'm getting the following error:

`TypeError: subject.call is not a function
    at options.importer.(anonymous function) ([blablabla]\node_modules\node-sass\lib\index.js:302:32)`

This is my webpack config:

[code]

[2016-06-16 15:37] pmowrer commented on #32
@andreasgruenh Sorry to hear that. Does 2.0.0 work correctly for you?

[2016-06-16 15:45] pmowrer commented on #32
You must be using `require` to import... I inadvertently broke the default export from babel5. https://phabricator.babeljs.io/T2212. Will fix!

[2016-06-16 16:19] #32 closed

[2016-06-17 19:54] pmowrer commented on #30
Closing due to inactivity

[2016-06-17 19:54] #30 closed

[2016-09-06 20:48] neverfox opened #34 "Breaks under sass-loader 4.0.1"
[code]

Worked under 4.0.0. The change centers around [this PR](https://github.com/jtangelder/sass-loader/pull/267).

[2016-09-07 05:19] tsuyoshiwada commented on #34
I am also going on the same problem.

[2016-09-07 06:27] neverfox commented on #34
I've submitted a PR to sass-loader to fix this.

[2016-09-07 06:31] #34 closed

[2016-09-07 06:31] neverfox commented on #34
Closing since this isn't an issue with this project.

[2016-10-16 11:03] jippi opened #36 "webpack 2.1.0-beta.25 not compatible with example"
Webpack 2.1.x no longer allow a

[code]

key in the root

it yields this error

[code]

[2016-10-19 10:15] Cap32 commented on #36
Same here ☹️

[2016-10-20 19:38] pmowrer commented on #36
Probably related to:
https://github.com/jtangelder/sass-loader/issues/289
https://github.com/webpack/webpack/issues/3018

Haven't moved to Webpack2 yet so I can't verify. If anyone gets it working, please create a PR to update the documentation.

[2016-10-21 03:56] Cap32 commented on #36
This works for me:

[code]

And I have created a PR to update the documentation. https://github.com/Updater/node-sass-json-importer/pull/37

[2016-10-21 14:23] pmowrer commented on #36
https://github.com/Updater/node-sass-json-importer/pull/37

[2016-10-21 14:23] #36 closed

[2016-11-23 04:16] jcteague opened #38 "compile errors after rendering"
I'm loading a json object that is mapping correctly to a sass map object.  When it compiles, the importer correctly imports the json file and the css is compiled as expected.  However I get node-sass compilation errors in the console, as if node-sass is trying to compile the json file as a sass or css file.

I've walked through your code and the node-sass code and it looks like you are doing the r

[2016-11-23 04:21] jcteague commented on #38
Wouldn't you know, as soon as I post this I found the problem.  I was passing `json` as an extension type because in earlier trials it was not picking up the json file, for other reasons obviously.  I took that off and it compiled correctly and without errors.

[2016-11-23 04:21] #38 closed

[2017-01-26 08:49] aelyseev opened #41 "Fails with resolve-url-loader"
Hi, the importer fails with resolve-url-loader

webpack2

[code]

Error:
[code]

[2017-01-30 18:07] pmowrer commented on #41
What if you replace the JSON import with static values. Does it work then?

[2017-02-03 12:41] aelyseev commented on #41
To make this works I have to turn off `jsonImporter` or `resolve-loader`

[2017-02-08 20:15] pmowrer commented on #41
There's not enough here to go by to identify what the problem is or whether it even has to do with `node-sass-json-importer` at all.

[2017-02-09 12:05] aelyseev commented on #41
Ok, You can see my config above. I've noticed  error — there was one of intermediate config. Right now, it's correct. The `resolve-url-loader` right after `sass-loader`

I tried to do like in sample [here](https://github.com/Updater/node-sass-json-importer/blob/master/test/fixtures/strings/style.scss). And I got the error. I tried even to do nothing, I mean, to not include any json files, but neve

[2017-02-14 20:20] harlanlewis commented on #15
Hesitant to revive an old issue, but came across the issue exactly as described above.

Webpack boot time was unaffected, however hot reload for single-line JSX whitespace changes increased 10x from ~0.9s to ~9s. I've isolated this package as the source of the increase, as uninstalling and defining our variables directly in Sass is the only change between the build times.

- webpack 1.12.12
- reac

[2017-02-15 17:29] pmowrer commented on #15
@harlanlewis Thanks for the report!

I'd be interested to know how/where those ~8s accumulate.

Maybe to start, clone the repo and `npm link` it to the project that depends on `node-sass-json-importer`. Then put some `console.log` statements in the source, perhaps a line at the [top](https://github.com/Updater/node-sass-json-importer/blob/master/src/index.js#L6) to get a sense of how many files ar

[2017-02-15 17:58] harlanlewis commented on #15
Thanks for the pointers to debug! I'll look into it within the next few days and report back.

[2017-02-15 18:29] pmowrer commented on #15
Sounds good! Let me know if you need any further instructions... I didn't go into detail about how `npm link` works and also you'll need to run `npm run compile` within the cloned repo any time you make changes to the source to produce a new bundle.

[2017-03-08 10:29] ychailler opened #44 "includePaths not correctly parsed on windows"
Using includePaths in a Windows environment does not work as it is parsed using a ':' separator :
  var includePaths = this.options.includePaths ? this.options.includePaths.split(':') : [];

The separator should be replaced by _path.delimiter that takes into account environment specific separator.
  var includePaths = this.options.includePaths ? this.options.includePaths.split(_path.delimiter) : [

[2017-03-10 15:08] pmowrer commented on #44
Good catch! I'll get to it soon, else feel free to submit a PR. Here's the relevant Node API call https://nodejs.org/api/path.html#path_path_delimiter

[2017-03-20 17:49] efeminella commented on #44
Any updates on this? It's a blocker for team members who are on Windows!

[2017-03-20 19:29] efeminella commented on #44
Hey Guys, I just put in a quick PR which resolves this.

[2017-03-21 00:35] tylergoodman opened #46 "Update webpack v2 documentation"
`node-sass` now accepts options in the webpack v2-way, see [here](https://github.com/webpack-contrib/sass-loader#examples), so the old way via LoaderOptionsPlugin is wrong and won't work on the latest version.

[2017-03-21 02:58] #44 closed

[2017-03-21 03:08] pmowrer commented on #44
Thanks for the fix @efeminella! Published as v3.0.2.

[2017-03-23 19:09] #46 closed

[2017-04-26 10:03] JaZo commented on #15
@harlanlewis I'm experiencing this too (~0.2s to ~12s). Do you have an update on your debug sessions?

I'm using the following versions:
- webpack 2.4.1
- node-sass 4.5.2
- node-sass-json-importer 3.0.2

[2017-04-26 16:43] harlanlewis commented on #15
I'm afraid not, this slipped off the priority list.

[2017-04-27 16:15] samtgarson commented on #15
I'm also seeing this issue, using webpack 1.12.6 and node-sass 3.4.2. My build times have gone from sub 2 seconds to between 20-30 seconds every time... Making this kinda unusable :/

Don't have time to delve into this further at the moment but would be good to hear if anyone makes any progress.

[2017-04-27 16:52] pmowrer commented on #15
FWIW, we've been using it with both webpack 1 and 2, never experiencing a problem. We have a pretty limited amount of JSON that's getting imported though. It'd be interesting to see if this problem is due to some specific JSON construct.

[2017-04-27 16:56] samtgarson commented on #15
My JSON was a one-level object with 6 keys with all numeric values... but I have a large codebase with the file getting imported many times 🤔

[2017-04-27 17:53] pmowrer commented on #15
That is true of our applications as well. Large code bases where constants are getting imported into many files.

[2017-04-27 19:34] harlanlewis commented on #15
Ours was a bit different:
- 5-10 json files with 1 object per file, depth <3 in in all objects,
- each json file imported just once into a single sass file per json (which provided access to values via functions etc),
- those sass files imported many times throughout the app.

Sorry I don't have the bandwidth at present to do the more thorough performance profile @pmowrer recommended back in Febru

[2017-05-10 07:46] JaZo commented on #15
I've done some profiling as @pmowrer suggested and put some logs at the [beginning](https://github.com/Updater/node-sass-json-importer/blob/master/src/index.js#L6) and [end](https://github.com/Updater/node-sass-json-importer/blob/master/src/index.js#L43) of the importer. The timing difference is only ~5ms! These results do not seem to indicate that the speed decrease is caused by node-sass-json-im

[2017-05-24 01:23] esr360 commented on #21
Perhaps this is the issue I am experiencing right now...I have a setup similar to the following:

[module1
----[config.json
----[module1.scss
[module1
----[config.json
----[module2.scss

Which doesn't seem to work properly when using a continuous rebuild system. However, changing to the following seems to work:

[module1
----[module1.json
----[module1.scss
[module1
----[module2.json
----[module2.s

[2017-05-24 03:00] esr360 opened #50 "Issues when impoting multiple json files with same name/keys"
Potentially related to: https://github.com/Updater/node-sass-json-importer/issues/21

I've noticed some issues with the wrong file being read/imported if the project has multiple files with the same name, like this:

[module1/
----[config.json
----[module1.scss
[module1/
----[config.json
----[module2.scss

I've also noticed issues when using multiple files with different names when the contents be

[2017-11-09 14:21] JaZo commented on #15
Minor update! I was using Laravel Mix to build my assets, but it had an issue which was causing my speed decrease: https://github.com/JeffreyWay/laravel-mix/issues/232. We are several months later since my last tests/profiling and I ditched Laravel Mix in favor of 'vanilla' Webpack. Today, I decided to give this importer another try. The speed decrease is now much smaller: ~0.2s to ~0.8s. I'd say

[2017-11-10 21:41] pmowrer commented on #15
Great, thanks for the update! I think we can close this, otherwise let me know.

[2017-11-10 21:41] #15 closed

[2017-12-05 17:16] MattKunze commented on #18
FWIW it's pretty trivial to support JS files as well since it's just using node's require mechanism:

https://github.com/MattKunze/node-sass-json-importer/pull/1/files

This only handles modules that export a top level POJO, but for me the big win is avoiding the uneccessarily restrictive syntax of JSON (allow comments, simpler quoting rules, etc). It would also let you dynamically generate conten

[2018-02-26 09:12] soelen opened #54 "Problem with single dash"
Hello there, I accidently created an issue ticket in a wrong repository, the people from gulp-sass-import-json were still kind and tried to help :)

https://github.com/acusticdemon/gulp-sass-import-json/issues/7

Longs to short: When I add just a single dash in a value node-sass seems to have a problem to process the json file:

![JSON](https://user-images.githubusercontent.com/1114549/36542210-71

[2018-02-28 15:44] pmowrer commented on #54
Hi @soelen! I guess `-` isn't a valid value for a SASS variable? Unfortunately, SASS handles strings ambiguously and its difficult for us to determine what the intention is in JSON. Almost all of the issues that come up concern strings.

There is a workaround that always works: If it's intended to be a string, wrap it in single quotes.

[code]

More about handling strings here: https://github.com/

[2018-02-28 15:44] #54 closed

[2018-02-28 15:46] pmowrer commented on #50
Sorry we never followed up on this @esr360! If its still something you'd like to try to fix, please re-open with a reproducible scenario.

[2018-02-28 15:46] #50 closed

[2018-04-12 02:27] spernigotti opened #61 "Import array"
I have the following json file:
_colors.json_
`[{
	"id": 1
},{
	"id": 2
}]`
when I import it in sass, the response is:
`$0: (id: 1);
$1: (id: 2);`
this is because the keys of array are numerical, and variables numerical in sass are invalid.
I propose in these cases that the result is a variable with the name of the file, in my example is _$colors_.
`$colors: ((id: 1),(id:2));`

[2018-04-15 16:59] pmowrer commented on #41
Closing due to inactivity

[2018-04-15 16:59] #41 closed

[2018-04-16 16:58] pmowrer commented on #61
Closed by #62

[2018-04-16 16:58] #61 closed

[2018-05-29 09:19] nasospsa opened #65 "Updating Dependencies (lodash)"
Is there any reason for keeping lodash dependency on version 3?

[2018-05-29 23:06] pmowrer commented on #65
No reason, feel free to upgrade!

[2018-05-30 10:21] nasospsa commented on #65
#66

[2018-05-30 14:08] rasenplanscher opened #67 "Single-element lists update breaks zero-element lists"
After updating to v3.3.0, I get this error for empty lists/arrays:
[code]

This seems to be due to the update enabling single-element lists.

[2018-05-31 19:15] pmowrer commented on #65
Closed by #66

[2018-05-31 19:15] #65 closed

[2018-05-31 19:17] pmowrer commented on #67
@dentrado Do you think this is something that can be easily resolved or do we need to revert?

[2018-06-05 16:20] #67 closed

[2018-06-11 13:22] harishmegharaj opened #69 "node-sass-json-importer for Angular 5 Project"
Hi,
   I'm not using webpack, directly working with Angular 5 project. Not able to import JSON file inside SCSS using this library.

[2018-06-15 14:08] pmowrer commented on #69
Hello @harishmegharaj! Not much I can do to help without much more information about what the problem is.

[2018-06-15 14:08] #69 closed

[2018-08-30 14:55] mikkelrd opened #72 "Cannot import JSON files from node_modules"
I have a node module with some color values stored in JSON that I want to consume in a SCSS file. When I use the normal Sass import syntax for JSON from node_modules paths like so,
[code]
I get the following build error from webpack.
[code]
NOTE: `@import '~@mymodule/styles/dist/globals.css';` works just fine.

[2018-09-06 03:15] pmowrer commented on #72
Hi @mikkelrd!

Sorry to hear you're stuck! I unfortunately can't help you with this, other than let you know that we just released [`4.0.0`](https://github.com/Updater/node-sass-json-importer/blob/6740d0eb0220c8e5c2ca90413b089a72e0e1ed24/CHANGELOG.md), allowing you to define a custom resolver function. It essentially provides you full control of how files are looked up. I don't think you should ne

[2018-09-06 03:15] #72 closed

[2018-09-18 07:28] donnysim commented on #15
I just removed this package, because it forces recompilation of the styles every time something changes, even though it does not touch styles themselves. So an incremental compilation slows down from ~800ms to 3-5s.

[2018-09-29 01:16] Janking opened #75 "can it return value is string ?"
https://github.com/Updater/node-sass-json-importer/blob/f99f8496d0a128810c9431f4dce328ca97c92cd6/src/index.js#L71

In my scenario, I need JavaScript to share json with scss, for example:

[code]
compile after

[code]
Uncaught SyntaxError!!!

So,I hope
[code]

[2018-11-22 02:00] pxwee5 opened #77 "Add options to convert hyphen-case to camelCase?"
Can we add an option to convert hyphen-case to camelCase and vice versa ?

Because of this: https://www.w3.org/TR/DOM-Level-2-Style/css.html#CSS-CSS2Properties

In CSS it's more natural to call hyphen-case (E.g. `color: $sky-blue`)
But in Javascript it's more natural to call camelCase (E.g. `this.color = variable.skyBlue`, probably too ugly to call `variable['sky-blue']` even though it's ok to do

[2019-01-09 12:28] awacode21 opened #78 "Update from version 3.2.0 to latest 4.1.0 breaks build. Undefined scss variables"
Hello @pmowrer ,

for my current project we updated the node-sass-json-importer from version 3.2.0 to version 4.1.0 but that causes the build to break with error message of undefined variables. The variables it complains about are normal scss variables within scss files which are not part of any json file (see screenshot). Any idea?
<img width="538" alt="50899264-de6a0380-1411-11e9-8b6d-7844a370d4

[2019-04-06 17:46] bjoernsteinborn commented on #78
Same for me with 4.1.0

[2019-05-08 09:21] acramatte commented on #78
Seems that since 4.0.0 and https://github.com/Updater/node-sass-json-importer/pull/71 you need to call the function on the jsonImporter you import/require

e.g.
[code]

should now be

[code]

[2019-08-07 07:17] awacode21 commented on #78
yes, i saw that in documentation but it has no effect at all. It still breaks with latest version

[2019-08-26 10:24] Tylerian commented on #78
IMHO this is an issue with #74 and that commit should be reverted in order to fix it.

The reasons behind my statement is that sass either expects an object literal with a `contents`key in order to load that contents, or an object literal with a `file`key to load that file as though it had been imported directly _([as seen in docs](https://sass-lang.com/documentation/js-api#importer))_. But not an

[2019-09-19 16:15] v3nt opened #80 "import and using more complicated json files"
trying to use this for more nested arrays.

"name_test" is reachable by `$name_test` but how could i get "white" and "white.color"?

ie

[code]
Is this possible and if so what would the structure of the variable be?

many thanks, D.

[2019-09-20 10:40] awacode21 commented on #80
Hi @v3nt,

what you try to achieve is absolutely possible. The nested JSON object will be generated as sass map.

How to access Map values is documented here: https://sass-lang.com/documentation/functions/map

Regarding your example you could access it like:

`
map-get($colors, "white");

and

map-get(map-get($colors, "white"), 'color');
`

Regards, Annick

[2019-09-20 15:03] v3nt commented on #80
thanks Annick - will try this out over the weekend. D.

[2019-09-23 15:06] v3nt commented on #80
this looked like a great solution but i'm not getting anywhere with it.

[code]

    $bluetest:   map-get(map-get($colors, "white"), 'color');

[code]

[2019-09-24 06:57] awacode21 commented on #80
I guess the array around your color objects is your Problem. Simplify your json structure. The following should work:

[code]

The array syntax you found for sass works for sass. But if you also want to import the JSON configuration somewhere else, for example javascript it cannot not handle it.
You don't need the array brackets as you want to have a map, not an array.

[2019-09-24 08:07] v3nt commented on #80
thanks. I think i tried that but will try again with a fresh head. Yes i want the Hex value in this case.

Basically this json file is used site wide. For php (that's all working fine). JS - not started yet. And then the main variables for the scss. We need at least this amount of info per colour and maybe adding light / dark variations too. I'm not sure what would be best array or object.

[2019-10-03 15:24] v3nt commented on #80
finally got round to having a look at this.

Working now using a function below. The extra []

[code]

Thanks for the pointers

[2019-10-03 15:24] #80 closed

[2019-10-24 13:04] pmowrer commented on #78
@Tylerian Can both be supported? E.g. if `file` is present, always use that. Else, use `contents`.

[2020-02-04 04:54] pmowrer commented on #78
Closed by #83

[2020-02-04 04:54] #78 closed

[2020-02-04 21:52] awacode21 commented on #78
Thanks!

[2020-02-10 16:23] alfredriesen opened #84 "Allow to import *.js files. Files exporting an JS object."
I have a need to import various json files. It is a migration from stylus, where I was able to import those json files and assign each to a variable. I do not have this option with this importer.

It would be helpful to be able to import Files exporting an JS object. Example:
[code]

I have tested it with just one modification on this line in your source and it works:
`return /\.js(on5?)?$/.test(u

[2020-02-12 14:29] soelen opened #85 "importer.call is not a function"
Somehow using the cli importer seems not to work anymore
`./node_modules/.bin/node-sass --importer node_modules/node-sass-json-importer/dist/cli.js --recursive ./src --output ./dist`

[code]
[code]

[2020-03-27 03:38] pmowrer commented on #84
I'd be happy to merge if you made a PR for it (please also add something about the new feature to the README). Please make sure the commit message begins with `feat:` in order to trigger an automatic release on merge.

[2020-03-30 07:01] fbrosda commented on #85
Hi,

I just discovered the same problem and I think this is somehow related to the conversion of the es6 modules to common-js modules.

In node-sass the `importer` is actually an object and the correct function is buried in `importer.default`, so using `importer.default.call` produces the expected output.

I can have a look at this and and open a pull request, if I find a solution.

[2020-03-31 14:22] #85 closed

[2020-03-31 14:24] pmowrer commented on #85
:tada: This issue has been resolved in version 4.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/node-sass-json-importer/v/4.1.3)
- [GitHub release](https://github.com/pmowrer/node-sass-json-importer/releases/tag/v4.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-06 14:27] adrienharnay opened #88 "Since 4.1.2, rebuild takes 10s instead of 700ms"
Hey,

I've tried versions 4.1.2 and 4.1.3, and rebuild takes 10s (hanging on SCSS) instead of 700ms with 4.1.0. Did not try 4.1.1.

I've looked at the commits but do not understand how they could have broken this.

Please tell me if I can be of any help!

Cheers

[2020-04-22 12:59] pmowrer commented on #84
Closed by https://github.com/pmowrer/node-sass-json-importer/pull/90. Thanks @alfredriesen!

[2020-04-22 12:59] #84 closed

[2020-04-22 13:03] pmowrer commented on #88
Like you pointed out, can't think of a reason why any recent changes would cause slower builds.

Anyone else experience this?

[2020-05-01 05:40] anthonylebrun commented on #77
Will have a PR shortly.

[2020-05-01 06:12] anthonylebrun commented on #77
Cool, opened a PR that includes feature + tests + docs. Lemme know if there's anything I can change!

The structure of src/index.js is feeling a bit strange now that I'm passing the options around like that. Perhaps it's time to consider using either a class or constructor function to store settings as state?

[2020-05-02 14:55] #77 closed

[2020-05-02 14:56] pmowrer commented on #77
:tada: This issue has been resolved in version 4.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/node-sass-json-importer/v/4.3.0)
- [GitHub release](https://github.com/pmowrer/node-sass-json-importer/releases/tag/v4.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-02 14:57] pmowrer commented on #77
Thanks @anthonylebrun, nice work! 👍

Agree, but not too worried about it yet. Feel free to submit a refactor if you feel up to it.

[2020-05-02 15:10] anthonylebrun commented on #77
🥳

Ok, I may if the fancy strikes me!

[2020-05-15 09:32] v3nt opened #92 "using json objects in SASS"
Just wondering if there's an example of how this works with json objects as maps / array?

ie how do you call variable from this in the SASS files?

Thanks.

[code]

Tried this...

[code]

error

[code]

thanks, D.

[2020-05-21 16:23] pmowrer commented on #92
@v3nt Looks correct to me. Is it possible the error is occurring somewhere else? It's a rather opaque error message

[2020-05-25 15:32] sc0rp1on opened #93 "Webpack build fails with sass loader"
options has an unknown property 'importer'. These properties are valid:
   object { implementation?, sassOptions?, prependData?, sourceMap?, webpackImporter? }

I'm guessing the documentation is old.
Can this be updated please?

[2020-05-25 17:45] sc0rp1on commented on #93
{
            loader: "sass-loader",
            options: {
              webpackImporter: false,
              sassOptions: {
                importer: jsonImporter()
        }
 }

Works with this!

[2020-11-25 16:44] crgeary opened #94 "Map keys inconsistent when using css color names"
I've been having an issue for a while where some of the keys in maps are imported into Sass as their respective colour names, rather than a literal string. This is causing issues when trying to access them later with `map-get()` as you have to know if it was a colour name, or a string to do that.

Suppose that I had the following JSON:

[code]

It would setup a map like this:

[code]

Where `prima

[2020-11-25 17:25] crgeary commented on #94
Actually, this might be my mistake. Just tested the latest version in isolation and it works as expected. This might be an issue from an old version, or an issue I introduced somewhere.

Sorry. Will close.

[2020-12-07 16:17] tcummin2 opened #95 "Parse numbers as standalone words in kebab case conversion"
I have many color variables that represent different light levels of a single color in increasing lightness (`red-lighter1`, `red-lighter2`, `red-lighter3`, `red-darker-1`, etc). Currently, a variable such as `redLighter1` would be converted to `red-lighter1` instead of `red-lighter-1`.

In Lodash, `_.kebabCase('redLighter1')` === `'red-lighter-1'`

[2020-12-25 04:24] reeseovine commented on #94
Hey, I think I'm also experiencing this issue, but I'm using the latest version (`4.3.0`). Were you able to fix it in your own implementation, and if so what version did you use?

[2020-12-25 10:12] crgeary commented on #94
Actually, I think you're right.

I just tried this again on my codebase and I still have the original issue. My current solution is to re-create the variable in SASS and force keys to be of a particular type. Although it would be a lot nicer not to have to do this of course.

I'm also using Dart Sass instead of Node Sass, as the latter is deprecated. However they should be fairly interchangeable.

[2020-12-30 11:49] reeseovine commented on #94
Your solution works for me! Another thing that I had to make sure of was that I was using double quotes instead of single when calling `map-get`. Those in conjunction do the trick.

But of course it would be nice for this to be fixed in the importer (if possible).

[2020-12-30 18:18] reeseovine commented on #94
Rather, they have to match what's used in `map-set` in your function.

[2020-12-31 11:52] crgeary commented on #94
I made a helper function for colors as well, which I think solves the issue of needing to use the correct quote types. Although I haven't tested that as I use prettier to force double quotes.

[code]

[2021-01-01 04:22] reeseovine commented on #94
I have a similar helper so I just added the quotes. Not sure exactly what it does but it works!

[2021-01-11 08:25] thecreazy opened #96 "Not working with Webpack > 5.11"
With the `5.11.1` version of Webpack the importer made it go in an infinite loop if using the watch options, the isse reported from me at Webpack is there https://github.com/webpack/webpack/issues/12340

Fortunately webpack in the new version, thanks to the report, has added warnings in case of incorrect use of the addDependency for non-absolute paths

I created a repo where you can test the bug:

[2021-02-13 15:51] loilo commented on #96
**TL;DR:** This is an issue with `sass-loader`, not this package, and has been resolved in `sass-loader@11.0.1`.

---

The problem is not this package, it has been in `sass-loader`, which calls `addDependency` for all files that Sass reportedly included in its rendering process.

However, because custom importers like this package can basically do anything they want with an import source string (s

[2021-02-24 07:38] #96 closed, assigned to nobody

[2021-03-09 17:51] willbuckingham opened #97 "Update to dart-sass?"
With the deprecation of LibSass / node-sass https://sass-lang.com/blog/libsass-is-deprecated , do you intend to change the peer dependency to sass?

Both have the same JS Api.  https://sass-lang.com/documentation/js-api

And they seem to work fine with this importer, however you get a terminal warning about unmet peer dependencies.  Honestly not sure if there's a way to make it an either/or peer d

[2021-03-10 11:34] brandonkramer commented on #97
Yes, would love to see this work with dart-sass without getting the terminal warning

[2021-04-09 15:24] PlopTheReal opened #98 "css variables doesn't get interpolated"
For the given json:

[code]
the following doesn't work ($backgroundColor doesn't get replaced):
[code]

but this one works:
[code]

I'm using the CLI.

[2021-04-14 15:39] Frimlik opened #99 "Override value from one json by value from another json"
Hi,
I'm mixing Angular project with bootstrap lib and would like to have in my Angular project two theme files, one with default values, another with custom values, like this:
theme-colors-default.json
[code]

theme-colors-custom.json
[code]

Then I have a style file, where I import both themes with help of node-sass-json-importer.
_variables.scss

[code]

Now, if I access `map-get($colors, 'secon

[2021-05-21 21:52] rootwork commented on #97
I've been using this with dart-sass regularly and it seems to be working fine, apart from the warning. Worth splitting into a node-sass release and a dart-sass release?

Or, alternatively, what about not having any peer dependencies defined, and then include a check somewhere to only warn if the user has _no_ version of Sass installed?

[2021-05-21 22:20] rootwork opened #101 "Documentation suggestion: Import JSON objects (not from files)"
I wasn't entirely sure if I could use JSON objects that already existed in my code without having to save them to a file first. Using the [Importing *.js Files](https://github.com/pmowrer/node-sass-json-importer#importing-js-files) documentation I was able to do it, but I thought it might be worth adding documentation that makes that explicit.

I can create a PR for this if you agree. Here's the b

[2021-05-21 22:22] rootwork commented on #92
@v3nt I've been doing this myself (see #101) with gulp and it's working. Maybe it's something to do with your linter or webpack?

[2021-06-06 03:07] #92 closed, assigned to nobody

[2021-10-05 13:41] MikeDanilov opened #102 "Documentation updates for webpack v5"
There are only webpack v1/v2 examples in documentation. Could you please update documentation also for webpack v5?

[2021-10-18 15:49] efeminella commented on #96
I'm on 4.3.0 but am still seeing this issue ... Is node-sass-json-importer using sass-loader >= 11.0.1? And if so, why is the issue still being reported? I'm still receiving the following:

[code]

[2022-01-16 21:10] lucasvazq commented on #102
I think this probably will work for you.

[code]

If you are using `Next.js` it's very simple to add this plugin.
[code]

[2022-01-17 09:46] MikeDanilov commented on #102
@lucasvazq I have shared variables in my quasar v 2.0 application. And adding just importer didn't work for me. I had to use the following code in quasar.conf.js to make it working
[code]
But I don't think this is correct solution.

[2022-08-30 11:13] saidarshan27 opened #103 "JSON arrray with 2 elements only imports a list with 1 element"
I have a file (colors.js) where I have a JSON object like this

[code]
I am importing this but I am getting a list only with one entry.
Please help

[2022-11-28 15:00] brod-ie commented on #12
What's an up-to-date workaround for this? Ideally there'd be an option on the `jsonImporter` function to skip keys containing such periods?

For example, I want to make use of this library with the [Design Tokens plugin for Figma](https://www.figma.com/community/plugin/888356646278934516). Their outputted JSON contain an `extensions` object which always contains subkeys containing periods:
[code]